body {
color:#00ff00;
backround-color:#171717;

text-align: center;
}

footer {
  backround-color: Yellow;
  text-align: center;
  padding: 8px;
}

header {
background-color: #000000;
text-align: center;
padding:10px;
font-size: 40px;
} 

ul {
list-style-types: none;
justify-content: center;
display: flex;
overflow: hidden;
background-color: antiquewhite;
}

ul li a{
display: block;
color: Black;
text-aling: center;
padding: 14px 16px;
text-decoration: none;
position: sticky;
top:0 ;
}

ul li {
float: left;
border-right: 1px solid #000000
}

ul li a:hover
{
  background-color: #000000;
}

