body {
color:#00ff00;
backround-color:#000000;

text-align: center;
}

footer {
  backround-color: Yellow;
  text-align: center;
  padding: 8px;
}

header {
background-color: #f1f1f1;
text-align: center;
padding:10px;
font-size: 40px;
} 

